<h1>New newsletter</h1>

<% form_for(@newsletter, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <h2>focus artiste</h2>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :artist_name %><br />
    <%= f.text_field :artist_name %>
  </p>
  <p>
    <%= f.label :artist_caption %><br />
    <%= f.text_area :artist_caption %>
  </p>
  <h2>focus soirée</h2>
  <p>
    <%= f.label :party_name %><br />
    <%= f.text_field :party_name %>
  </p>
  <p>
    <%= f.label :party_cost %><br />
    <%= f.text_field :party_cost %>
  </p>
  <p>
    <%= f.label :party_adress %><br />
    <%= f.text_area :party_adress %>
  </p>
  <p>
    <%= f.label :party_description %><br />
    <%= f.text_area :party_description %>
  </p>
  <p>
    <%= f.label :artist_photo %>
    <%= f.file_field :artist_photo %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', newsletters_path %>
